docker.enabled = true

params {
    /// INPUT FILES ///
    dia_files = "/public/compomics2/tijl/diaBacterialEpitopes/data/raw1"
    fasta = "/public/compomics2/tijl/diaBacterialEpitopes/data/EGD_human.fasta"
    crap_fasta = "/public/compomics2/tijl/diaBacterialEpitopes/data/crap.fasta"

    /// OUTPUT DIRECTORY ///
    outDir = "./results"

    /// LIBRARY GENERATION ///
    generate_libs = true
    lib_z1 = "/public/compomics2/tijl/diaBacterialEpitopes/data/libs/lib_z1_mz750-1200_len8-12_mox.predicted.predicted.speclib"
    lib_z2 = "/public/compomics2/tijl/diaBacterialEpitopes/data/libs/lib_z2_mz400-800_len8-12_mox.predicted.speclib"
    lib_z3 = "/public/compomics2/tijl/diaBacterialEpitopes/data/libs/lib_z3_mz350-650_len8-12_mox.predicted.speclib"
    
    ref_lib = "/public/compomics2/tijl/diaBacterialEpitopes/data/libs/diann-lib.predicted.speclib"

    // Library settings
    min_fr_mz        = 200
    max_fr_mz        = 1800
    min_pep_len      = 8
    max_pep_len      = 12

    // Library ranges
    lib_ranges = [
        [min_pr_mz: 750, max_pr_mz: 1200, charge: 1],
        [min_pr_mz: 400, max_pr_mz: 800, charge: 2],
        [min_pr_mz: 350, max_pr_mz: 650, charge: 3]
    ]    

    /// DIA-NN PARAMETERS ///
    // General
    threads          = 64
    qvalue           = 0.01
    window           = 7
    mass_acc         = 15.0
    mass_acc_ms1     = 15.0
    var_mods         = 1
    var_mod          = "UniMod:312,119.004099,C"
    rt_window_mul    = 1.7
    rt_window_factor = 100
    min_cal          = 500
    min_class        = 1000
    mass_acc_cal     = 25
    min_corr         = 2.0
    corr_diff        = 1.0

    // DIA-NN run 2
    min_fr_mz_2      = 300
    max_fr_mz_2      = 1800
    min_pep_len_2    = 7
    max_pep_len_2    = 30
    min_pr_charge    = 1
    min_pr_charge    = 4
}

process {
    executor = 'local'
    cpus = 256
    memory = 200.GB
}
